.App {
  text-align: center;

}
.headerImg{
  width: 80%;
  height: 200px;
      width: 100%;
      margin: 0 auto;
}
.title{
  position: relative;
  color:#11384F;
  font-size: 35px;
  display: block;
  font-weight: 800;
  margin: 0 auto;
  text-align: center;
  /* top: -11px; */
  bottom: 135px;
  text-transform: uppercase;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}
.App-header{
  height: 200px;
      margin: 0 auto;
  background: #105C89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#105C89, white); /* Standard syntax */
}
.navbar{
  width: 80%;
  margin: 0 auto;
  height: 40px;
      position: sticky;
}
.navItem{
  color: #000;
  background: #1E5A7C;;
  width: 25%;
  padding: 10px 6.35%;
  text-decoration: none;
  border-bottom: 1px solid black;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: bold;
}
.navItem:hover{
  background: #3083B2;
  border-bottom: 2px solid black;
}
.contents{
  width: 60%;
  margin: 0 auto;
  background: #105C89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#105C89, white); /* Standard syntax */
}
ul {
  list-style-type: none;
}
.registerFrm{
  width: 50%;
  margin: 20px auto;
  text-align: center;
  box-shadow: 10px -10px 20px #000;
  padding: 30px;
  background: #105C89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#105C89, white); /* Standard syntax */
}
label{
  display: block;
  width: 400px;
  margin: 0 auto;
  padding:10px;
}
.fName,.lName {
  /*background: darkgrey;*/
}
input{
   background: #1E5A7C;
  width: 400px;
  height: 30px;
  border: none;
  box-shadow: 3px 3px 3px #000;
}
.btn{
  width: 90px;
  margin-top: 20px;
  box-shadow: 7px 7px 7px #000;
  background: #1E5A7C;
}
.btn:hover{
  background: #105C89;
  color: #000;
}
.active{
  border-bottom: 2px solid #000;
}
.contactDetails{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
