
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: lightgrey;
}
#root{
  background: #105C89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#105C89, white); /* Standard syntax */
}

.btn{
	    margin: 10px 3px;
}