
.newPostForm{
margin: 20px auto;
background:  #1E5A7C;
text-align: center;
box-shadow: 10px -10px 20px #000;
padding: 30px;
background: #105C89; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient(#105C89, white); /* Standard syntax */
}
textarea{
  height: 123px;
  width: 80%;
  background: #1E5A7C;
  color: #000;
  border: 1px solid darkgrey;
  background: #105C89; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#105C89, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#105C89, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#105C89, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#105C89, white); /* Standard syntax */
}
@media only screen and (min-width: 768px) {
.newPostForm{
     margin-left: 180px;
}
}